h2 {
    text-align: center;
}

.cell {
    width: 50px;
    height: 50px;
    font-family: 'Arial';
    font-size: 40px;
    line-height: 55px;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #333;
    outline: 1px solid #333;
    cursor: pointer;
}

table {
    margin: 0 auto;
}

#win_message {
    display: none;
    text-align: center;
    padding-top: 20px;
    font-size: 40px;
}

#win_message .againBtn {
    font-weight: bold;
    cursor: pointer;
    color: #369;
    border-bottom: 1px solid #369;
}

#win_message .againBtn:hover {
    border-color: transparent;

}

#field {
    position: relative;
}

#field .table {
    display: table;

    margin: 0 auto;
    position: relative;
}

#field table tr:first-child div {
    margin-top: 0;
}

#field table tr:last-child div {
    margin-bottom: 0;
}

#field table tr td:first-child div {
    margin-left: 0;
}

#field table tr td:last-child div {
    margin-right: 0;
}